/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* 90's font */

@font-face{
    font-family: '90s font';
    src: url('../JurassicPark.ttf') format('truetype');
}

/*  */



/* NAVBAR STYLES BEGIN */

.nav-bar {
    height: 10vh;
    background: url(https://us.123rf.com/450wm/malven/malven1609/malven160900047/65296303-woven-textures-of-new-fabric-or-cotton-material-of-contrast-gray-color-for-a-background-or-for-wallp.jpg?ver=6);
    display: inline-block;
    border: #010101 solid;
    border-radius: 5px; 
    width: 100%;
    position: fixed;
    top: 0;
    
}

.footer-bar {
    height: 10vh;
    display: inline-block;
    background: url(https://us.123rf.com/450wm/malven/malven1609/malven160900047/65296303-woven-textures-of-new-fabric-or-cotton-material-of-contrast-gray-color-for-a-background-or-for-wallp.jpg?ver=6);
    border: #010101 solid;
    border-radius: 5px; 
    width: 100%;
    position: fixed;
    bottom: 0;
    
}

.footer-item{
    background: url(https://www.textures.com/system/gallery/photos/Fabric/Leather/120863/Leather0112_2_240.jpg);
    float: left; 
    margin-left: 15vw;
    border: #010101 solid;
    border-radius: 5px;
    list-style-type: none;
    font-size: 18px;
    box-shadow: black 5px 5px 5px; 
}

.footer-item:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-item{
    background: url(https://www.textures.com/system/gallery/photos/Fabric/Leather/120863/Leather0112_2_240.jpg);  
    margin-left: 10vw;
    border: black solid;
    border-radius: 5px;
    list-style-type: none;
    font-size: 18px;
    box-shadow: black 5px 5px 5px; 
}

.nav-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-item:first-child{
    float: left;
    margin-left: 1vw; 
}

.nav-item:not(:first-child){
    float: right;
    margin-right: 1vw;
}

.nav-bar ul:not(:first-child){
    float: right;
}


/* NAVBAR STYLES END */



/* MAIN STYLE BEGIN */

body {
    background: url(https://c.pxhere.com/photos/d7/dc/white_texture_paint_wallpaper_surface_blank_background_the_authentic-1371058.jpg!d);
}

.content {
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.text {
    color: black;
    font-family: serif;
}

p {
    border: #010101 solid;
    border-radius: 5px;
    list-style-type: none;
    font-size: 18px;
    box-shadow: black 5px 5px 5px; 
}

th {
    border: #010101 solid;
    border-radius: 5px;
    list-style-type: none;
    font-size: 18px;
}

li.text {
    border: #010101 solid;
    border-radius: 5px;
    list-style-type: none;
    font-size: 18px;
    float: left;
}

.about li {
    float: left;
    list-style: none;
}

.about ul {
}

a {
    font-size: 30px;
    font-family: serif;
}

.title {
    background: url(https://www.textures.com/system/gallery/photos/Fabric/Leather/120863/Leather0112_2_240.jpg); 
    display: inline-block;
    font-size: 30px;
    font-family: serif;
    border: #010101 solid;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    text-align: center;
    margin: 0 10% 2px 10%;
}

.profile-image{
    height: 300px;
    width: 300px;
    border: black solid;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px; 
}

.image {
    width: 100%;
    display: inline-block;
}

.about {
    border: #010101 solid;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    margin: 0 10% 2px 10%; 
}

.skills {
    display: inline-block;
    border: #010101 solid;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    margin: 0 10% 2px 10%;
}

.hobbies {
    display: inline-block;
    border: #010101 solid;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
    margin: 0 10% 2px 10%;
    

}

.goals {
    display: inline-block;
    background: url(https://us.123rf.com/450wm/malven/malven1609/malven160900047/65296303-woven-textures-of-new-fabric-or-cotton-material-of-contrast-gray-color-for-a-background-or-for-wallp.jpg?ver=6);
    border: #010101 solid;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: black 5px 5px 5px; 
    margin: 0 10% 2px 10%;
}

.card {
    display: inline-block;
    background: url(https://us.123rf.com/450wm/malven/malven1609/malven160900047/65296303-woven-textures-of-new-fabric-or-cotton-material-of-contrast-gray-color-for-a-background-or-for-wallp.jpg?ver=6);
    border: #010101 solid;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0 10% 15px 10%;
    box-shadow: black 5px 5px 5px; 
}

/* MAIN STYLES END */












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
